{
	"arrowParens": "always",
	"bracketSpacing": true,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": false,
	"singleQuote": false,
	"tabWidth": 4,
	"useTabs": true,
	"trailingComma": "es5",
	"endOfLine": "auto",
	"prettier.singleAttributePerLine": true
}
